In [1]:
import pandas as pd

df=pd.read_csv('data/my_customers.csv')
df

            ID  우수고객분류   이름  나이      성별  지역      관심사
0          cdg       1  최도근  10    male  서울       축구
1       leekun       0  이헌영  42    male  서울       축구
2         son7       0  손흥민  38  female  경기  esports
3  parklangers       1  박지성  12    male  서울       축구
4   bluedragon       0  이청용  22  female  경기  esports
5         tuna       1  지동원  11    male  서울       야구
6          key       1  기성용  19  female  경기       축구
7        koojc       0  구자철  28    male  제주  esports

In [2]:
# 성별
# df.loc[조건,열]=값

df.loc[df['성별']=='male','성별']=0
df.loc[df['성별']=='female','성별']=1

In [3]:
df

            ID  우수고객분류   이름  나이 성별  지역      관심사
0          cdg       1  최도근  10  0  서울       축구
1       leekun       0  이헌영  42  0  서울       축구
2         son7       0  손흥민  38  1  경기  esports
3  parklangers       1  박지성  12  0  서울       축구
4   bluedragon       0  이청용  22  1  경기  esports
5         tuna       1  지동원  11  0  서울       야구
6          key       1  기성용  19  1  경기       축구
7        koojc       0  구자철  28  0  제주  esports

In [4]:
# 지역
# df.loc[조건,열]=값

df.loc[df['지역']=='서울','지역']=0
df.loc[df['지역']=='경기','지역']=1
df.loc[df['지역']=='제주','지역']=2

#관심사

df.loc[df['관심사']=='축구','관심사']=0
df.loc[df['관심사']=='esports','관심사']=1
df.loc[df['관심사']=='야구','관심사']=2

In [5]:
df

            ID  우수고객분류   이름  나이 성별 지역 관심사
0          cdg       1  최도근  10  0  0   0
1       leekun       0  이헌영  42  0  0   0
2         son7       0  손흥민  38  1  1   1
3  parklangers       1  박지성  12  0  0   0
4   bluedragon       0  이청용  22  1  1   1
5         tuna       1  지동원  11  0  0   2
6          key       1  기성용  19  1  1   0
7        koojc       0  구자철  28  0  2   1

In [6]:
#input
x_train=df[['나이','성별','지역','관심사']]
#target
y_train=df['우수고객분류']

In [7]:
from sklearn.ensemble import RandomForestClassifier

forest=RandomForestClassifier(n_estimators=10)
forest.fit(x_train,y_train)

print("training set accuracy:",forest.score(x_train,y_train))

training set accuracy: 1.0